* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #f7f7f7;
}

#top-bar {
    background-color: #2e2e2e;
    color: #fff;
}

.top-left {
    vertical-align: middle;
    padding: 10px 0px;
}

.top-right {
    vertical-align: middle;
    padding: 10px 0px;
}

.top-right span,
.top-right a {
    margin: 5px;
    color: #fff;
    transition: .5s;
}

.top-right a:hover {
    color: rgb(34, 115, 221);
}

header {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

.menu {
    background-color: rgba($color: #444, $alpha: 0.4);
}

nav {
    width: 100%;
}

.navbar-nav {
    align-items: flex-end;
}

.nav-link::after {
    content: '';
    margin-left: 10px;
    border-left: 1px solid #fff;
}

.last-link::after {
    border: none;
}

.banner-text {
    color: #fff;
    width: 550px;
    margin-top: 100px;
    background-color: rgba($color: #000, $alpha: 0.6);
    padding: 20px;
}

.text-area {
    padding-left: 100px;

    h2 {
        font-size: 2.5em;
        font-weight: bolder;
    }

    p {
        font-size: 1.2em;
    }
}

#feature-box {
    background-color: #229883;
    padding: 50px;

    .img-box {
        width: 30%;

        img {
            width: 100px;
        }
    }

    .text-box {
        width: 65%;
        margin-left: 10px;
        color: #ffffff;
    }

}

#headline {
    background-position: center center;
    background-repeat: no-repeat;
    height: 350px;
    background-size: 150px;

    .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba($color: #ffffff, $alpha: 0.6);
        overflow: hidden;

        h2 {
            font-weight: bolder;
            font-size: 3.5em;
            margin-top: 150px;
            text-align: center;
        }
    }
}

#type {
    margin-bottom: 100px;

    h2 {
        font-weight: bolder;
        border-bottom: 1px solid #aaa;
        width: 100%;
        margin-bottom: 50px;
    }

    h2::after {
        content: '';
        display: block;
        width: 130px;
        height: 7px;
        background-color: rgb(34, 166, 144);
        margin-top: 10px;
    }

    .type-item {
        .img-box {
            width: 45%;

            img {
                width: 150px;
                height: 150px;
                border: 1px solid #444;
            }
        }

        .text-box {
            width: 50%;
            margin-left: 10px;
            margin-top: 30px;

            h3 {
                font-size: 1.3em;
                font-weight: bolder;
            }

            p {
                font-size: 0.8em;
            }
        }
    }
}

#services {
    padding: 100px 0px;

    h2 {
        font-weight: bolder;
        border-bottom: 1px solid #aaa;
        width: 100%;
        margin-bottom: 50px;
        color: #2e2e2e;
    }

    h2::after {
        content: '';
        display: block;
        width: 100px;
        height: 7px;
        background-color: rgb(34, 166, 144);
        margin-top: 10px;
    }

    .service-box {
        width: 100%;

        .title {
            width: 100%;
            margin-top: 50px;
            margin-bottom: 20px;

            h3 {
                font-weight: bolder;
                width: 100%;
                text-align: center;
                color: #2e2e2e;
            }

            h3::after {
                content: '';
                display: block;
                width: 40px;
                height: 7px;
                background-color: rgb(34, 166, 144);
                margin: 10px auto;
            }
        }

        .service-item {
            margin-top: 40px;

            img {
                width: 250px;
            }

            h4 {
                font-weight: bolder;
                color: #2e2e2e;
                font-size: 1.4em;
                margin-top: 10px;
            }

            p {
                font-size: 0.7em;
            }

            button {
                background-color: rgb(37, 165, 144);
                width: 120px;
                height: 40px;
                border: none;
                text-transform: uppercase;
                color: #ffffff;
                font-weight: bold;
            }
        }
    }
}

#blog {
    h2 {
        font-weight: bolder;
        border-bottom: 1px solid #aaa;
        width: 100%;
        margin-bottom: 50px;
        color: #2e2e2e;
    }

    h2::after {
        content: '';
        display: block;
        width: 100px;
        height: 7px;
        background-color: rgb(34, 166, 144);
        margin-top: 10px;
    }

    .blog-box {
        .carousel-control-prev {
            background-color:
                #2e2e2e;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            opacity: 1.0;
            position: absolute;
            top: -100px;
            right: 50px;
        }

        .carousel-control-next {
            background-color:
                #2e2e2e;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            opacity: 1.0;
            position: absolute;
            top: -100px;
            right: 0px;
        }

        .blog-item {
            .img-box {
                width: 35%;

                img {
                    width: 100%;
                }
            }

            .text-box {
                width: 60%;
                margin-left: 5%;

                h3 {
                    font-weight: bolder;
                }
            }
        }
    }
}

#about-us {
    padding: 100px 0px;

    .title {
        h2 {
            font-weight: bolder;
            border-bottom: 1px solid #aaa;
            width: 100%;
            margin-bottom: 50px;
            color: #2e2e2e;
        }

        h2::after {
            content: '';
            display: block;
            width: 100px;
            height: 7px;
            background-color: rgb(34, 166, 144);
            margin-top: 10px;
        }
    }

    .skill {
        padding: 10px;

        .img-box {
            width: 20%;
        }

        .des {
            width: 74%;
            margin-left: 30px;
            font-size: 0.9em;

            h4 {
                font-size: 1.5em;
                font-weight: bolder;
            }
        }
    }

    .about {
        .img-box {
            width: 50%;

            img {
                width: 100%;
            }
        }

        .des {
            width: 46%;
            margin-left: 20px;
            font-size: 14px;

            button {
                background-color: rgb(37, 165, 144);
                width: 150px;
                height: 40px;
                border: none;
                text-transform: uppercase;
                color: #ffffff;
                font-weight: bold;
            }
        }
    }
}

#brand {
    padding: 100px 0px;
    background-color: rgb(34, 166, 144);

    .title {
        width: 100%;

        h2 {
            font-weight: bolder;
            border-bottom: 1px solid #aaa;
            width: 100%;
            margin-bottom: 50px;
            color: #ffffff;
        }

        h2::after {
            content: '';
            display: block;
            width: 100px;
            height: 7px;
            background-color: #ffffff;
            margin-top: 10px;
        }
    }

    .brand-img {
        width: 17%;
        margin: 15px;
    }
}

footer {
    background-color: #2e2e2e;
    padding: 100px 0px;
    color: #ffffff;

    .ft-1 {
        img {
            width: 100%;
        }

        p {
            font-size: 13px;
            margin: 50px 0px;
        }

        button {
            background-color: rgb(37, 165, 144);
            width: 100%;
            height: 60px;
            border: none;
            text-transform: uppercase;
            color: #ffffff;
            font-weight: bold;
            font-size: 1.3em;
            margin-top: 20px;
        }
    }
    .ft-2{
        h3{
            font-size: 1.5em;
            font-weight: bolder;
            text-transform: uppercase;
        }
        .sv1, .sv2, .sv3{
            h4{
                font-size: 18px;
                font-weight: bolder;
            }
            h4::before{
                content: '';
                display: inline-block;
                height: 15px;
                border-left: 10px solid rgb(37, 165, 144);
                border-top:7.5px solid transparent;
                border-bottom:7.5px solid transparent;
                margin-right: 10px;
            }
        }
    }
    .ft-3{
        h3{
            font-size: 1.5em;
            font-weight: bolder;
            text-transform: uppercase;
        }
        h4{
            font-size: 18px;
            font-weight: bolder;
        }
        h4::before{
            content: '';
            display: inline-block;
            height: 15px;
            border-left: 10px solid rgb(37, 165, 144);
            border-top:7.5px solid transparent;
            border-bottom:7.5px solid transparent;
            margin-right: 10px;
        }
    }
    .ft-4{
        a{
            color: #ffffff;
        }
        h3{
            font-size: 1.5em;
            font-weight: bolder;
            text-transform: uppercase;
        }
        i{
            color: rgb(37, 165, 144);
            margin: 10px;
            font-size: 25px;
        }
    }
}